.feature {
  .outline(blue);
  width: @desktop-width;
  background: url('../img/feature_bg.png') 0% 0% no-repeat @color-orange;
}

.feature__wrapper {
  .outline(red);
  .cont-pos(42px, 42px);
}

.feature__content {
  .outline(chocolate);
  margin-left: 620px;
  width: 523px;
  color: @color-white;
}

.feature__title {
  .outline(blue);
  margin: 0;
  font-size: 36px;
  font-weight: 600;
}

.feature__text {
  .outline(blue);
  margin-top: 42px;
}
