@media (max-width: @tablet-width) {
  .main-nav {
    font-size: 13px;
  }
}

@media (max-width: @mob-width) {
  .main-nav {
    background-color: @color-gray;
    border: 2px solid @color-orange;
    padding-bottom: 10px;
  }
}

.main-nav__list {
  //.outline(blue);
  margin: 0;
  padding: 0;
  .no-list;
  .grid(6, 24px);
}

@media (max-width: @tablet-width) {
  .main-nav__list {
    .grid(6, 10px);
  }
}

@media (max-width: @mob-width) {
  .main-nav__list {
    display: block;
    padding-left: 10px;
  }
}

.main-nav__item {
  //.outline(chocolate);
  .grid(2, 0);
}

@media (max-width: @mob-width) {
  .main-nav__item {
    display: block;
    margin-top: 10px;
  }
}

.main-nav__link {
  .outline(gray);
  .no-line;
  text-transform: uppercase;
  font-weight: 700;
  color: @color-dark;

  &:hover {
    color: @color-orange;
  }

  &:active {
    color: @color-darkgray;
  }
}

.main-nav__button {
  .outline(blue);
  margin-left: 10px;
  font-size: 0;
  width: 16px;
  height: 16px;
  border: none;
  background-color: inherit;
  position: relative;
  align-self: center;

  &::before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../img/arrow_down2.png');
  }

  &:hover {
    &::before {
      .black-orange;
    }
  }

  &:active {
    &::before {
      .black-gray;
    }
  }
}

@media (max-width: @mob-width) {
  .main-nav__button {
    display: none;
  }
}
