.popular {
  width: @desktop-width;
  background-color: @color-gray;
}

@media (max-width: @tablet-width) {
  .popular {
    width: @tablet-width;
  }
}

@media (max-width: @mob-width) {
  .popular {
    width: @mob-width;
  }
}

.popular__wrapper {
  .cont-pos(122px, 125px);
}

@media (max-width: @tablet-width) {
  .popular__wrapper {
    .cont-pos(75px, 70px);
  }
}

@media (max-width: @mob-width) {
  .popular__wrapper {
    .cont-pos(30px, 30px);
  }
}

.popular__title {
  margin: 0;
  .title;
}

.popular__subtitle {
  margin-top: 18px;
  margin-bottom: 0;
  .subtitle;
}

.popular__list {
  .no-list;
  margin-top: 75px;
  margin-bottom: 0;
  padding: 0;
  .grid(4, 28px);
}

@media (max-width: @tablet-width) {
  .popular__list {
    .grid(2, 0);
    padding-left: 65px;
  }
}

@media (max-width: @mob-width) {
  .popular__list {
    display: block;
    margin-top: 40px;
    padding-left: 7px;
  }
}

.popular__card {
  width: 265px;
  position: relative;
  border-radius: 20px;
  background-color: @color-white;
  cursor: default;
  transition: transform 0.5s;

  &:hover {
    transform: translateY(7%);
  }
}

@media (max-width: @tablet-width) {
  .popular__card {
    margin-top: 35px;

    &:hover {
      transform: none;
    }
  }
}

@media (max-width: @mob-width) {
  .popular__card {
    display: none;

    &--current {
      display: block;
    }
  }
}

.popular__photo {
  width: 265px;
  height: 241px;
  margin-bottom: 18px;
}

.popular__name {
  margin: 0;
  padding-left: 20px;
  font-size: 17px;
  font-weight: 600;
}

.popular__info {
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0 20px;
  font-size: 15px;
}

.popular__price {
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 20px;
  font-size: 17px;
  font-weight: 600;
  color: @color-orange;
}

.popular__button {
  margin: 15px 0 18px 20px;
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  color: @color-white;
  background-color: @color-orange;
  border-radius: 8px;
  border: none;

  &:hover {
    background-color: @color-dark;
  }

  &:active {
    background-color: @color-darkgray;
  }
}

.popular__toggles {
  display: none;
}

@media (max-width: @mob-width) {
  .popular__toggles {
    display: block;
    margin-top: 30px;
  }
}
