.reviews {
  .outline(blue);
  width: @desktop-width;
  background-color: @color-gray;
}

.reviews__wrapper {
  .outline(red);
  .cont-pos(50px, 75px);
}

.reviews__title {
  .outline(blue);
  margin: 0;
  .title;
}

.reviews__subtitle {
  .outline(blue);
  margin-top: 18px;
  margin-bottom: 0;
  .subtitle;
}

.reviews__content {
  .outline(chocolate);
  margin-top: 69px;
  padding-top: 162px;
  .grid(3, 0);
}

.reviews__block {
  .outline(gold);
  width: 494px;
  text-align: center;
  box-shadow: 0px 5px 20px 0px @color-dark;
  border-radius: 10px;
  position: relative;
  background: url('../img/reviews_quotes.png') 211px 32px no-repeat @color-white;

  &--current {
    margin-top: -162px;
    height: 356px;
    z-index: 2;
    color: @color-white;
    background: url('../img/reviews_quotes_current.png') 211px 32px no-repeat @color-orange;
  }

  &:nth-of-type(2),
  &:nth-of-type(3) {
    margin-left: -170px;
  }
}

.reviews__text {
  .outline(blue);
  margin-top: 105px;
  margin-bottom: 0;
  padding: 0 63px;
  font-size: 22px;
}

.reviews__author {
  .outline(blue);
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 77px;
  font-size: 14px;
  font-weight: 700;
}

.reviews__avatar {
  //.outline(blue);
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: -55px;
  left: 192px;
  border-radius: 50%;
}

.reviews__toggles {
  .outline(blue);
  margin-top: 110px;
}
